/* Configurações gerais */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html,
body {
  width: 100%;
}

body {
  background: linear-gradient(180.8deg, #0d1c26 0.69%, #617c8c 152.1%);
  background-repeat: repeat;
  background-attachment: scroll, fixed;
}

.cabeçalho {
  display: flex;
  position: flex;
  width: 100%;
  height: 80px;
  background: #243848;
}

/* Titulo config */
#titulo {
  width: 100%;
  top: 40px;

  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;

  display: grid;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.cb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  width: 100%;
}
/* Texto base 64 */
.base64 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;

  position: relative;
  width: 50%;
  height: auto;
  left: 30%;
  top: 22px;

  background: #6b98bf;
  border-radius: 30px;
}
#titBase {
  display: grid;
  justify-content: center;
  justify-items: center;

  font-family: "Libre Bodoni";
  font-style: oblique;
  font-weight: 900;
  font-size: 25px;
  color: white;
}
#base {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: white;
}

.cifraCesar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;

  position: relative;
  width: 50%;
  height: auto;

  border-radius: 30px;

  top: 22px;
  left: 55px;
  top: 22px;
  padding-top: 15px;

  background: #6b98bf;
}

/* caixa de texto cifra de cesar */
#titCifra {
  display: grid;
  justify-content: center;
  justify-items: center;

  font-family: "Libre Bodoni";
  font-style: oblique;
  font-weight: 900;
  font-size: 25px;
  color: white;
  margin: 3px;
}

#Cifra {
  font-family: "Libre Bodoni";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  color: white;
}

.click {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  width: 500px;
  margin-top: 50px;
  margin-left: 34%;
  color: white;

  background: rgb(17, 50, 196);
}
/* Campo de codificação e descodificação */
#formulario {
  display: flex;
  height: 300px;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 50px;
  padding: 28px;
  margin-top: 20px;
  background-color: #4578a5;

  overflow: hidden;
}
#formulario > label {
  font-size: 20px;
  margin-top: 80px;
}

#cifra {
  cursor: pointer;
  border-radius: 15px;
  width: 180px;
  height: 40px;
  text-align: center;
  background-color: #494949;
  color: white;
  font-size: 20px;
  margin-top: 80px;
}

#mensagem {
  border-radius: 15px;
  width: 180px;
  height: 200px;
  text-align: center;
  background-color: #494949;
  padding: 5px;
}

#incremeto > input,
#incremento {
  border-radius: 20px;
  width: 60px;
  height: 40px;
  text-align: center;
  color: white;
}
#incremento-cesar {
  margin-top: 50px;
  width: 60px;
}
#radio {
  display: flex;
  flex-direction: column-reverse;
  height: 40px;
  justify-items: center;
  margin-top: 180px;
  font-size: 18px;
}
#radio > label {
  padding: 10px;
  text-align: center;
  justify-items: center;
  margin: 0px;
}
#mensagemDiv {
  padding: 10px;
}

#botao-codificar-decodificar {
  height: 200px;
  margin-top: 40px;
  border-radius: 20px;
  background-color: #373c3e;
}
#resultado {
  margin-top: 40px;
  border-radius: 20px;
  padding: 5px;
  width: 300px;
}
footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 1000px) {
  .cb {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    height: auto;
  }
  .base64 {
    left: 20%;
    margin-top: 5%;
  }
  .cifraCesar {
    left: 20%;
  }
  .click {
    margin-top: 50px;
    width: auto;
    margin-right: 20%;
    background: rgb(17, 50, 196);
    margin-left: 20%;
  }
  #formulario {
    height: auto;
    overflow: auto;
    width: auto;
  }
  #mensagem {
    width: 100px;
  }
  #resultado {
    width: 100px;
  }
}
